@BEGIN_TEMPLATE@<div class="inpage">
		
		<div id="list">
				<h4>Saldo Risparmio</h4>

			@BLOCK_BEGIN_RESULT_ERROR@
				<div class="system-message-error">
					Si &egrave; verificato un errore: @ERROR_MESSAGE@
				</div>
			@BLOCK_END_RESULT_ERROR@
	
			@BLOCK_BEGIN_RESULT_EMPTY@
				<div class="system-message-error">
					Nessun elemento trovato!
				</div>
			@BLOCK_END_RESULT_EMPTY@
	    
			
	  		([
						[[@tag_Movimenti_Libretti.ID#FLAT@] != []]
						?? [
			<table width="100%" summary="tabella risultati" border="0" cellspacing="0" cellpadding="0" class="sortable" id="risultati">
				<tr>
				<tr>


					<th scope="col">Saldo</a></th>
				</tr>
				</tr>
	
					@BEGIN_Movimenti_Libretti@([ 
							[[@XPATH_FUN((count(preceding-sibling::Movimenti_Libretti)+ 1) mod 2)@@] == [0.0] ] 
							?? [
								<tr class="lista_linea_pari">
							]
							:: [
								<tr class="lista_linea_dispari">
							]
						])
						
						@tag_importo@
								</tr>@END_Movimenti_Libretti@
	  		</table>
	  		]
			])
	  		

		</div>
</div>@END_TEMPLATE@