@BEGIN_TEMPLATE@<div class="inpage">
	<div id="list">
		<div class="inserto">
				
						<a href="javascript:history.back();" title="indietro">[ Indietro ]</a>
					    <span class="NoVisibility">|</span>
										
			</div>
				<h3>@tag_Movimenti_Quote.nome_socio_consumatore@@tag_Movimenti_Quote.nome_socio_organizzazione@</h3>
				<h4>@TITLE@</h4>
			
			@BLOCK_BEGIN_RESULT_ERROR@
				<div class="system-message-error">
					Si &egrave; verificato un errore: @ERROR_MESSAGE@
				</div>
			@BLOCK_END_RESULT_ERROR@
	
			@BLOCK_BEGIN_RESULT_EMPTY@
				<div class="system-message-error">
					Nessun elemento trovato!
				</div>
			@BLOCK_END_RESULT_EMPTY@
			
			
	    
	  
			<table width="100%" summary="tabella risultati" border="0" cellspacing="0" cellpadding="0" class="sortable" id="risultati">
				([ [[@tag_Movimenti_Quote.ID#FLAT@] != []] ??
               [ 
				<tr>

					<th scope="col">Data Movimento</a></th>

					<th scope="col">Causale</a></th>

					<th scope="col">Quote sottoscritte</th>
					
					<th scope="col">Quote rimborsate</th>
					
					<th scope="col">Di valore</th>

					<th scope="col">Importo</th>
				</tr>
				]])
	
				@BEGIN_Movimenti_Quote@
				
						([ 
							[[@XPATH_FUN((count(preceding-sibling::Movimenti_Quote)+ 1) mod 2)@@] == [0.0] ] 
							?? [
								<tr class="lista_linea_pari">
							]
							:: [
								<tr class="lista_linea_dispari">
							]
						])
						
						
						@tag_data_movimento@
						@tag_causale_quota@
						@tag_numero_quote@
						@tag_numero_quote_rimborsate@
						@tag_di_valore@
						<td style="text-align:right">
							([[[@tag_numero_quote#FLAT@] !=[0]] ?? [
								@XPATH_FUN(number(numero_quote)*number(di_valore))@@ &euro;
								] :: [
									-@XPATH_FUN(number(numero_quote_rimborsate)*number(di_valore))@@ &euro;
								] 
							])
						</td>
						</tr>
				@END_Movimenti_Quote@

	  		</table>

			<div class="pagine">
					
					@BLOCK_BEGIN_INDIETRO@
						
							<a class="linkfirst" href="@HREF_LIST_FIRST@" title="Vai alla prima pagina">[ Prima pagina ]</a>
							<span class="NoVisibility">|</span>
											
						
							<a class="linkprev" href="@HREF_LIST_BACK@" title="Vai alla pagina precedente (@PAGINA_PRECEDENTE@)">[ Indietro ]</a>
							<span class="NoVisibility">|</span>
						
					@BLOCK_END_INDIETRO@
					
					<strong>@NUMERO_ELEMENTI@ elementi</strong> trovati - pagina @PAGINA_CORRENTE@
					
					@BLOCK_BEGIN_AVANTI@        
						
							<a class="linknext" href="@HREF_LIST@" title="Vai alla pagina successiva (@PAGINA_SUCCESSIVA@)">[ Avanti ]</a>
							<span class="NoVisibility">|</span>
						
						
							<a class="linkfirst" href="@HREF_LIST_LAST@" title="Vai all'ultima pagina">[ Ultima pagina ]</a>
							<span class="NoVisibility">|</span>
						
					@BLOCK_END_AVANTI@
					
			</div>
	
		</div>
		</div>@END_TEMPLATE@