@BEGIN_TEMPLATE@<div>
		<div id="list">
			<div id="trails">
				<a href="@CONTEXT@/Index" title="vai alla home page">Home</a> - @TITLE@
			</div>
			
		  	<div class="inserto">
				
						<a href="javascript:history.back();" title="indietro">[ Indietro ]</a>
					    <span class="NoVisibility">|</span>
					
						<a href="javascript:Anastasis.Utils.print('home');" title="stampa">[ Stampa ]</a>
						<span class="NoVisibility">|</span>
					
			</div>
			<div id="splash">
				<h2>@TITLE@</h2>
					<a href="@CONTEXT@/Index?q=object/filter&amp;p=@CLASS@" title="Nuova ricerca">Ricerca</a>
					<a href="@CONTEXT@/Index?q=object/list&amp;p=@CLASS@" title="Lista completa">Lista</a>
    				
			</div>

			@BLOCK_BEGIN_RESULT_ERROR@
				<div class="system-message-error">
					Si &egrave; verificato un errore: @ERROR_MESSAGE@
				</div>
			@BLOCK_END_RESULT_ERROR@
	
			@BLOCK_BEGIN_RESULT_EMPTY@
				<div class="system-message-error">
					Nessun elemento trovato!
				</div>
			@BLOCK_END_RESULT_EMPTY@
	    
			
	  		([
						[[@tag_Libretti_Anagrafica.ID#FLAT@] != []]
						?? [
			<table width="100%" summary="tabella risultati" border="0" cellspacing="0" cellpadding="0" class="sortable" id="risultati">
				<tr>
					@BLOCK_BEGIN_HEADER@
						<th scope="col">@HEAD_LABEL@</th>
					@BLOCK_END_HEADER@
					<th scope="col">Capitale da rimborsare</th>
					<th scope="col">Quote</th>
				</tr>
	
					@BEGIN_Libretti_Anagrafica@([ 
							[[@XPATH_FUN((count(preceding-sibling::Libretti_Anagrafica)+ 1) mod 2)@@] == [0.0] ] 
							?? [
								<tr class="lista_linea_pari">
							]
							:: [
								<tr class="lista_linea_dispari">
							]
						])
		
						
						<td>
							<a href="?q=object/detail&amp;p=Libretti/_a_ID/_v_@tag_ID#FLAT@" title="vai al libretto n.  @tag_codice_contratto#FLAT@ di @tag_nome#FLAT@">@tag_nome#FLAT@</a>
						</td>
						<td>
							<a href="?q=object/detail&amp;p=Libretti/_a_ID/_v_@tag_ID#FLAT@" title="vai al libretto n.  @tag_codice_contratto#FLAT@ di @tag_nome#FLAT@">@tag_codice_contratto#FLAT@</a>
						</td>
						@tag_tipo_libretto@@tag_data_apertura@@tag_stato_libretto@
						<td>
							@FUN_MODULE(q=object/detail,p=Movimenti_Quote/_a_di_risparmio/_c_Libretti/_a_ID/_v_@tag_ID#FLAT@,data_source=saldi-risparmio,t=Movimenti_Quote_Saldi_Socio_inpage)@
						</td>
						<td class="operation">			
							<a href="?q=object/detail_edit&amp;p=Movimenti_Quote&amp;a=_a_socio/_c_Soci/_a_ID/_v_@tag_dati_socio.Soci.ID#FLAT@/_a_data_movimento/_v_@FUN_REPLACE(string=@tag_data_chiusura#FLAT@,search=/,replace=-)@/_a_causale_quota/_v_Rimborso%20quote%20per%20recesso&amp;s=_a_socio/_v_@tag_nome#FLAT@&amp;t=Movimenti_Quote_Rimborso"  title="Registra rimborso quote">RIMBORSA</a> 
						</td>
						
						
						
								</tr>@END_Libretti_Anagrafica@
	  		</table>
	  		]
			])
	  		
	  		<div class="pagine">
					
					@BLOCK_BEGIN_INDIETRO@
						
							<a class="linkfirst" href="@HREF_LIST_FIRST@" title="Vai alla prima pagina">[ Prima pagina ]</a>
							<span class="NoVisibility">|</span>
											
						
							<a class="linkprev" href="@HREF_LIST_BACK@" title="Vai alla pagina precedente (@PAGINA_PRECEDENTE@)">[ Indietro ]</a>
							<span class="NoVisibility">|</span>
						
					@BLOCK_END_INDIETRO@
					
					<strong>@NUMERO_ELEMENTI@ elementi</strong> trovati - pagina @PAGINA_CORRENTE@
					
					@BLOCK_BEGIN_AVANTI@        
						
							<a class="linknext" href="@HREF_LIST@" title="Vai alla pagina successiva (@PAGINA_SUCCESSIVA@)">[ Avanti ]</a>
							<span class="NoVisibility">|</span>
						
						
							<a class="linkfirst" href="@HREF_LIST_LAST@" title="Vai all'ultima pagina">[ Ultima pagina ]</a>
							<span class="NoVisibility">|</span>
						
					@BLOCK_END_AVANTI@
					
			</div>
		</div>
	<span id="apri-chiudi-filtro" title="apri/chiudi filtro di raffinamento">affina la ricerca</span>
	<div @toggable="controller=apri-chiudi-filtro,init_state=closed">
  
 	@FUN_MODULE(q=object/simplefilter)@  
	</div>
</div>@END_TEMPLATE@