@BEGIN_TEMPLATE@<script src="app/Javascript/anastasis/FormSender.js" type="text/javascript"></script>
		<script src="app/Javascript/anastasis/serena/DetailEdit.js" type="text/javascript"></script>		
		<script type="text/javascript">
			detailEdit=new Anastasis.DetailEdit('detail-edit','Attachment?q=prepare','Attachment?q=status&amp;id=');
		</script>

  <div class="detail-edit">
<div id="trails">
		<a href="@CONTEXT@/Index" title="vai alla home page">Home</a> - @TITLE@
	</div>
   <div class="inserto">
    
          <a tabindex="56" href="javascript:detailEdit.saveObject();" title="salva la scheda">[ Salva ]</a>  
          <span class="NoVisibility">|</span>

      
       
	  	  <a tabindex="60" href="javascript:areusure();" title="indietro">[ Esci ]</a>
            <span class="NoVisibility">|</span>
    
  </div>  
  <div id="splash">

    <h2>@TITLE@</h2>
  </div>
 
  <h3>Inserimento/Modifica Scheda</h3>
  

 @BEGIN_CondizioniLibretto@<div class="form-container">

  <form id="detail-edit" method="post" action="@ACTION@">


   <div class="form-container">

    


  
 
  
      

        <div class="detail-body">

        @tag_inverse_of_condizioni_libretti@@tag_codice_condizione@@tag_tipologia_deposito@@tag_vincolo@@tag_note@@tag_tassi_di_interesse@

        </div>


      <div class="detail-rel">

        

        </div>  
		

      
      
      
      
      <div class="detail-edit-system">
      
        
        
        
        
         <input type="hidden" name="class" value="@CLASS@" />

    	<input type="hidden" name="r" value="@REDIRECT@" />

    	<input type="hidden" name="forced_post_save" id="forced_post_save" value="@POST_SAVE@" />

        
        </div>
        
      

   
  </div>
  </form>
   <div class="detail-attachments">

        

     </div>@END_CondizioniLibretto@

          

         

  </div>
   <div class="inserto">
    
          <a tabindex="50" href="javascript:detailEdit.saveObject();" title="salva la scheda">[ Salva ]</a>  
          <span class="NoVisibility">|</span>

 

	  	  <a tabindex="54" href="javascript:areusure();" title="indietro">[ Esci ]</a>
            <span class="NoVisibility">|</span>
    
  </div>  
  </div>@END_TEMPLATE@