@BEGIN_TEMPLATE@<script src="app/Javascript/anastasis/FormSender.js" type="text/javascript"></script>
<script src="app/Javascript/anastasis/serena/DetailEdit.js" type="text/javascript"></script>		
<script type="text/javascript">
	detailEdit=new Anastasis.DetailEdit('detail-edit','Attachment?q=prepare','Attachment?q=status&amp;id=');
			
	$(document).ready(function() {
		var libretto = @FUN_GET_URL_PARAM(param=libretto)@;
		var path="ModuleIndex?q=iniziativesolidali/infolibretto/id="+libretto;
		var rep = $.ajax({
	        url: path,
	        async: false,
	        type: "GET",
	        cache: false
	        }).responseText;		
		try
		{
			var xmlrep = Anastasis.Utils.parseXML(rep);
			anastasis.logger.info("res = " + rep);
			var msg = Anastasis.XMessage.buildXMessage(xmlrep);
			if(msg.isErrorMessage())
			{
				alert("il sistema non riesce a caricare i dati del libretto!");
				return;
			}
			var elem=msg.selectSingleNode("libretto/descrizione");
			var cooperativa = Anastasis.Ajax.getText(elem);
			
			elem=msg.selectSingleNode("libretto/saldo_capitale");
			var saldo_capitale = null;
			if (elem!=null)	{
				saldo_capitale = Anastasis.Ajax.getText(elem);
			}
			
			elem=msg.selectSingleNode("libretto/ultimo_accredito");
			var ultimo_accredito = null;
			if (elem!=null)	{
				ultimo_accredito = Anastasis.Ajax.getText(elem);
			}
			
			if (ultimo_accredito=="0.0"){
				ultimo_accredito = "L'accredito interessi risulta gia prelevato!"
			}
			$("#INP_importo").val(ultimo_accredito);	// assegno importo ultimo accredito al prelievo
			
			elem=msg.selectSingleNode("libretto/banca");
			var banca = null;
			if (elem!=null)	{
				banca = Anastasis.Ajax.getText(elem);
				$("#INP_banca_di_riferimento_movimento").val(banca);
			}
			
			elem=msg.selectSingleNode("libretto/iban");
			var iban = null;
			if (elem!=null)	{
				iban = Anastasis.Ajax.getText(elem);
				$("#INP_numero_effetto").val(iban);
			}
			
			elem=msg.selectSingleNode("libretto/saldo_risparmio");
			var saldo_risparmio = null;
			if (elem!=null)	{
				saldo_risparmio = Anastasis.Ajax.getText(elem);
			}
			
			elem=msg.selectSingleNode("libretto/vincolo");
			var vincolo = null;
			if (elem!=null)	{
				vincolo = Anastasis.Ajax.getText(elem);
			}
			
			elem=msg.selectSingleNode("libretto/tipologia_deposito");
			var tipologia_deposito = null;
			if (elem!=null)	{
				tipologia_deposito = Anastasis.Ajax.getText(elem);
			}
			
			elem=msg.selectSingleNode("libretto/socio");
			var socio = null;
			if (elem!=null)	{
				socio = Anastasis.Ajax.getText(elem);
			}
			
			elem=msg.selectSingleNode("libretto/costo_singola_operazione");
			var costo_singola_operazione = null;
			if (elem!=null)	{
				costo_singola_operazione = Anastasis.Ajax.getText(elem);
			}
			var giorni_valuta = null;
			elem=msg.selectSingleNode("libretto/giorni_valuta");
			if (elem!=null)	{
				giorni_valuta = Anastasis.Ajax.getText(elem);
			}			
			elem=msg.selectSingleNode("libretto/importo_massimo_prestito");
			var importo_massimo_prestito = Anastasis.Ajax.getText(elem);
			
			elem=msg.selectSingleNode("libretto/rapporto_prestito_capitale");
			var rapporto_prestito_capitale = parseFloat(Anastasis.Ajax.getText(elem));
			elem=msg.selectSingleNode("libretto/valore_quota");
			var valore_quota = parseFloat(Anastasis.Ajax.getText(elem));
			
			$("#EXTRA_tipologia_deposito").val(tipologia_deposito);
			
			var importo = parseFloat($("#INP_importo").val());

			
			if ( parseFloat(importo) > parseFloat(saldo_risparmio) )	{
				alert("Impossibile eseguire la transazione: importo specificato maggiore del saldo risparmio. Specificare importo minore o uguale al saldo risparmio.");
				$("#detail-edit").attr("action","#");
				$("#INP_importo").val(saldo_risparmio);
			} 
			var action = $("#detail-edit").attr("action");
			$("#importo_splitted").show();
			// only care about token....
			var n=action.indexOf("&token");
			action = "?q=iniziativesolidali/prelievo&p=Movimenti_Libretti" + action.substring(n,action.length);
			$("#detail-edit").attr("action",action);
			
			// set dati libretto:
			var datilibretto = "Libretto del " + socio + "<br /><strong>Saldo Risparmio: </strong>&euro; "+ saldo_risparmio;
			
			$("#datilibretto").html(datilibretto);
			

		}
		catch(e){alert("errore: "+e);}
	
});
	
</script>

  <div class="detail-edit">
<div id="trails">
		<a href="@CONTEXT@/Index" title="vai alla home page">Home</a> - @TITLE@
	</div>
   <div class="inserto">
    
          <a tabindex="56" href="javascript:detailEdit.saveObject();" title="salva la scheda">[ Salva ]</a>  
          <span class="NoVisibility">|</span>

 

	  	  <a tabindex="60" href="javascript:areusure();" title="indietro">[ Esci ]</a>
            <span class="NoVisibility">|</span>
    
  </div>  
  <div id="splash">

    <h2>Prelievo interessi maturati</h2>
     </div>
   

 @BEGIN_Movimenti_Libretti@<div class="form-container">

  <form id="detail-edit" method="post" action="@ACTION@">


   <div class="form-container">

        <div class="detail-body">

        @tag_data_movimento@@tag_importo@
        
        <div id="importo_splitted" style="display:none;">
			<div id="datilibretto"></div>
        </div>
        
        @tag_mezzo@@tag_note@@tag_numero_effetto@@tag_banca_di_riferimento_movimento@@tag_data_valuta@

        </div>

		

      
      
      
      
      <div class="detail-edit-system">
      
        
        
        
        
         <input type="hidden" name="class" value="@CLASS@" />
         <input type="hidden" name="EXTRA_libretto" value="@FUN_GET_URL_PARAM(param=libretto)@" />
         <input type="hidden" name="EXTRA_tipologia_deposito" id="EXTRA_tipologia_deposito" />
             
        <input type="hidden" name="INP_causale_libretto" value="@FUN_DECODE_DESCRIPTION(class=217,value=4)@" />
	   
	   	<input type="hidden" name="r" value="@REDIRECT@" />

    	<input type="hidden" name="forced_post_save" id="forced_post_save" value="@POST_SAVE@" />

        
        </div>
        
      

   
  </div>
  </form>
   <div class="detail-attachments">

        @tag_allegato@

     </div>@END_Movimenti_Libretti@

          

         

  </div>
   <div class="inserto">
    
          <a tabindex="50" href="javascript:detailEdit.saveObject();" title="salva la scheda">[ Salva ]</a>  
          <span class="NoVisibility">|</span>

      
 
	  	  <a tabindex="54" href="javascript:areusure();" title="indietro">[ Esci ]</a>
            <span class="NoVisibility">|</span>
    
  </div>  
  </div>@END_TEMPLATE@