@BEGIN_TEMPLATE@
	<div class="splash">

    <h2>Corsi di formazione</h2>

	
  </div>
	
			@BLOCK_BEGIN_RESULT_ERROR@
				<div class="system-message-error">
					Si &egrave; verificato un errore: @ERROR_MESSAGE@
				</div>
			@BLOCK_END_RESULT_ERROR@
	
			@BLOCK_BEGIN_RESULT_EMPTY@
				<div class="system-message-error">
					Nessun elemento trovato!
				</div>
			@BLOCK_END_RESULT_EMPTY@
	
			@BEGIN_CorsiFormazione@
				<div class="news">
					@tag_logo@
					<h3>@tag_titolo@</h3>
					<p>
					<strong>@tag_sottotitolo@</strong><br />
					
					<p>@tag_abstract@ <a class="more" href="?q=object/detail&amp;p=CorsiFormazione/_a_ID/_v_@tag_ID#FLAT@" title="continua la lettura di @tag_titolo#FLAT@">[...]</a></p>
					<br />
					
					@tag_organizzatore@<br />
					@tag_luogo@<br />
					@tag_periodo@
					</p>
				</div>
			@END_CorsiFormazione@
@END_TEMPLATE@