Cara socia, caro socio, <br /><br />

in allegato a questa mail trovi la situazione del tuo libretto di risparmio presso la Cooperativa ExAequo aggiornata al @DATA@.
<br /><br />
Come ti avevamo già comunicato ad inizio anno, ti chiediamo di scegliere la destinazione dei tuoi interessi: puoi farti accreditare sul conto corrente che ci hai indicato o che ci indicherai, gli interessi maturati nel periodo @PERIODO@ oppure trasformarli in quote aggiuntive di capitale sociale.
<br /><br />
Questa seconda opzione permetterebbe di rafforzare ed accrescere le radici della cooperativa rendendola ancora più solida.
<br /><br />
Ti RACCOMANDIAMO quindi di verificare la correttezza dei dati che trovi indicati sul secondo foglio dell’allegato, compilarlo e farcelo pervenire entro e non oltre il 20 settembre @ANNO@ con una delle seguenti modalità:
<ul>
	<li>consegnandolo in bottega</li>
	<li>inviandolo via fax al numero 051 7401376</li>
	<li>inviandolo all’indirizzo mail librettiexaequo@gmail.com</li>
	<li>rispedendolo a: ExAequo scs Via Altabella n. 7/B 40126 Bologna</li>
</ul>
Rinnoviamo inoltre l’invito a farti promotore presso conoscenti e amici DELLA POSSIBILITA' DI ASSOCIARSI per raggiungere l’obiettivo di mille soci entro la fine del @ANNO@.
<br /><br />
Restiamo a disposizione per eventuali chiarimenti alla mail: librettiexaequo@gmail.com
<br /><br />
Il cda di ExAequo s.c.s.