Cara socia, caro socio, 
<br /><br />
in allegato a questa mail trovi la situazione del tuo libretto di risparmio presso la Cooperativa ExAequo aggiornata al @DATA@.
<br /><br />
Cogliamo l’occasione per rinnovare l’invito ad acquistare quote aggiuntive di capitale sociale e farti promotore presso conoscenti e amici della possibilità di associarsi per raggiungere l’obiettivo di mille soci entro la fine del @ANNO@.
<br /><br />
Restiamo a disposizione per eventuali chiarimenti alla mail: librettiexaequo@gmail.com
<br /><br />
Il cda di ExAequo s.c.s.