@BEGIN_TEMPLATE@<script src="@CONTEXT@/app/Javascript/calendario/calendarEu.js" type="text/javascript" ></script>
  <div id="trails">
		<a href="@CONTEXT@/Index" title="vai alla home page">Home</a> - @TITLE@
	</div>
  <div class="filter">
	
  
  <div id="splash">
    <h2>@TITLE@</h2>
    
	<a href="@CONTEXT@/Index?q=object/list&amp;p=@CLASS@" title="Lista completa">Lista</a>
	
  </div>
  
  <h3>Ricerca</h3>
  
  @BLOCK_BEGIN_DESCRIPTION@
  <div class="class-description">
    @CLASS_DESCRIPTION@
  </div>
  @BLOCK_END_DESCRIPTION@


  <div class="form-container">
  <form id="filter" method="post" action="@ACTION@">
  
  	
  
  <div>
  
    @BEGIN_Organizzazioni@
    @tag_nome@
    @tag_email@
    @tag_regione@
    @tag_provincia@
    @tag_comune@   
    @tag_anno_rinnovo@
    @tag_legale_rappresentante@
    @tag_i_tag_relativi@
    @tag_note@    
    
    @END_Organizzazioni@

    <br class="clearBoth" />
    <input type="hidden" name="fetch_from" value="@FETCH_FROM_VALUE@" />
    <input type="hidden" name="fetch_to" value="@FETCH_TO_VALUE@" />
    <div class="buttonrow">
      <input type="submit" name="post_search" class="button" title="avvia la ricerca" value="[ Cerca ]" />
    </div>
    
  </div>
  
  </form>
  </div>
  </div>@END_TEMPLATE@