@BEGIN_TEMPLATE@
	<script src="@CONTEXT@/app/Javascript/anastasis/FormSender.js" type="text/javascript"></script>
	<script src="@CONTEXT@/app/Javascript/anastasis/serena/DetailEdit.js" type="text/javascript"></script>
	<script src="@CONTEXT@/app/Javascript/anastasis/serena/ComplexDetailEdit.js" type="text/javascript"></script>
	<script type="text/javascript">	
		detailEdit=new Anastasis.ComplexDetailEdit("detail-edit","@CONTEXT@/Attachment?q=prepare","@CONTEXT@/Attachment?q=status&id=");
	</script>  
	<script src="@CONTEXT@/app/Javascript/calendario/calendarEu.js" type="text/javascript" ></script>
	
	<!-- Va modificato se la posizione del modulo di menu non e' 2 -->
	<!-- Commentare per attivare il menu dei nodi CMS
	@TARGET_BEGIN_MOD_2@
		@FUN_MENU(rootId=1,currentId=1)@
	@TARGET_END_MOD_2@
	-->
	
	<div class="detail-edit">
		<div id="trails">
			<a href="@CONTEXT@/Index" title="vai alla home page">Home</a> - Registrazione utente
		</div>	
		<div class="inserto">
			<a href="javascript:history.back();" title="indietro">[ Indietro ]</a>
			<span class="NoVisibility">|</span>
			<a href="javascript:print();" title="stampa">[ Stampa ]</a>		
		</div>		
		<div id="splash">
			<h2>Registrazione Utente</h2>
			<div class="box_titolo_scheda">
				<h3>Procedi con la registrazione per accedere a tutti i servizi del portale</h3>
			</div>
		</div>
  
	  	
	
			<form name="detail-edit" id="detail-edit" onsubmit="return Utils.checkAll()" method="post" action="Index?q=userRegistration/register/FORM=confirm">
				<div class="form-container">
					<legend>Inserisci i tuoi dati</legend>	
					
					@BEGIN__system_user@
					
					<div class="detail-body">
							@tag_user_name@
							@tag_user_user_id@
							@tag_user_password@
							@tag_user_email@
							@tag_user_sercret_pharse@
							@tag_user_secret_answer@
							
							<!--
								@tag_publication_from@
								@tag_publication_to@
							-->
						
						
						
								
						<br class="clearBoth" />
						
	    			@END__system_user@
	    			<div class="detail-component base-row">
	    				<label for="j_captcha_request">captcha</label>
	    				<img src="JCaptcha" id="j_captcha_request">
	    				<div class="object-help">Riscrivere nel campo sottostante la parola che compare in questa immagine. <a href="http://it.wikipedia.org/wiki/CAPTCHA">Perch&egrave; devo farlo?</a><div>
	    			</div>
					<div class="detail-component base-row ([ [[@ERROR_CAPTCHA@] != []] ?? [error] ])">
						<label for="j_captcha_response">parola*</label>
						<input type='text' name='j_captcha_response' value="" class="" >
						([ 
							[[@ERROR_CAPTCHA@] != []] 
							?? 
							[<div class="error-message">@ERROR_CAPTCHA@</div>] 
						])
					</div>
					<br class="clearBoth" />
					<input class="button" type="submit" onclick="detailEdit.saveObject(); return false;" value="[Invia]" />
			</div>
			</form>
		

	</div>
@END_TEMPLATE@
