/*
 * CSS comune a tutti i progetti Serena.
 * Ogni applicazione parte da questo css per poi cambiare le parti
 * a esso piu' specifiche.
 * Inoltre ogni metaambiente puo' a sua volta sovrascrivere altri punti.
 */
/* IMPOSTAZIONI GENERALI
 ------------------------------------------------------------------------ */
body {
    margin: 0;
    padding: 0;
    /* text-align: center; */
	font-size: 90%;
}

body.grande {
    font-size: 110%;
}

body.molto_grande {
    font-size: 130%;
}

H1, H2, DL, DD, DT {
    margin: 0;
    padding: 0;
    list-style-type: square;
    list-style-position: inside;
}

UL, LI {
/*
    list-style-type: square;
    list-style-position: inside;
  */
    margin: 3px 2px;
    padding: 2px;
}

A {
    cursor: pointer;
}

A IMG {
    border: none;
}

P {
    margin: 0;
    padding: 0;
}

/* LAYOUT GENERALE - DEFINIZIONE STRUTTURA
 ----------------------------------------------------------------------- */
#wrap {
    text-align: left;
    min-width: 760px;
    max-width: 1100px;
	width: 100%;
    margin: 0 auto;
}

#headwrap {
    text-align: left;
}

#head {
    min-width: 760px;
    max-width: 1100px;
    margin: 0 auto;
}

#main
{
    width:100%;
}


/* HEAD
 ----------------------------------------------------------------------- */
/* NAVIGAZIONE
 ---------------------------------------------------------------------------- */
/*
 
 #nav UL LI {float:right; margin-left:20px; }
 #nav A {text-decoration:none; display:block; padding-bottom:5px;}
 */
/* PULSANTIERA ACCESSIBILE */
#nav .pulsantieraAccessibile ul li {
    list-style: none;
}

#nav .pulsantieraAccessibile ul li a {
    clear: both;
    display: block;
    float: left;
}
/* CONTENT
 ------------------------------------------------------------------------- */

#content .testo table {
    border: 1px #ccc dashed;
}

#content .testo td {
    border: 1px #ccc dashed;
    padding: 3px;
}

#content .testo th {
    border: 1px #ccc dashed;
    padding: 3px;
}



#contentwrap #splash li img {
    float: none;
}

#contentwrap #splash ul {
    margin: 3px 2px;
    padding: 2px;
    display: block;
}

#contentwrap #splash ul li {
    list-style-position: inside;
    list-style-type: square;
    margin: 3px 2px;
    padding: 2px;
}
/* CONTENT: INSERTO */
#content .inserto, #contentwrap .inserto {
    float: right;
    margin: 1px 0 0px 2px;
}

#content .inserto H3, #contentwrap .inserto H3 {
    padding: 0 10px 0 0px;
}

#content .inserto P, #contentwrap .inserto P {
    padding: 0 10px 0 0px;
}

#content .inserto UL, #contentwrap .inserto UL {
    padding: 0 5px 0 0px;
    border: none;
    list-style: none;
}

#content .inserto UL LI, #contentwrap .inserto UL LI {
    margin-bottom: 2px;
    list-style: none;
    margin: 2px;
    float: left;
    background: transparent none no-repeat scroll 0pt 5px;
}

#content .inserto .link-report, #contentwrap .inserto .link-report {
    padding-left: 20px;
}

UL#toolbar {
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
}

#toolbar LI {
    background: none;
    float: left;
    margin: 2px 0px;
    padding: 0;
    list-style: none;
}

#toolbar LI A {
    padding: 0px;
    display: block;
}

#toolbar LI A:hover {
}

UL#toolbar2 {
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
}

#toolbar2 LI {
    background: none;
    float: left;
    margin: 2px 0px;
    padding: 0;
    list-style: none;
}

#toolbar2 LI A {
    padding: 0px;
    display: block;
}

#toolbar2 LI A:hover {
}

#contain_sitemap ul li {
    font-size: 0.95em;
    list-style-position: outside;
    list-style-type: square;
    margin: 5px 25px;
    padding: 2px;
}
/*-- SIDEBAR ---------------------------------------------------------------------- */
/*-- SIDEBAR:SEARCHBOX --*/
#sidebar .searchbox P {
    margin: 0;
    padding: 0;
}

#sidebar .searchbox FORM {
    padding: 0 0 5px 5px;
    margin: 0;
}

#sidebar .searchbox INPUT.campo {
    border: 1px solid #ccc;
}
/* SIDEBAR:LOGIN */
#sidebar .loginbox {
    margin-bottom: 10px;
}

#sidebar .loginbox H3 {
    margin: 5px 0px;
    padding: 0;
}

#sidebar .loginbox P {
    margin: 5px 0px;
    padding: 0;
}

#sidebar .loginbox .tab-sx {
    width: 30%;
    float: left
}

#sidebar .loginbox .tab-dx {
    width: 69%;
    float: left;
    margin-bottom: 1px
}

#sidebar .loginbox FORM {
    padding: 0 0 5px 5px;
    margin: 0;
}
/* SIDEBAR:LOGIN_FAILED */
#sidebar .loginbox_failed {
    margin-bottom: 10px;
}

#sidebar .loginbox_failed .tab-sx {
    width: 30%;
    float: left
}

#sidebar .loginbox_failed .tab-dx {
    width: 69%;
    float: left;
    margin-bottom: 1px
}

#sidebar .loginbox_failed FORM {
    border: 2px solid red;
    padding: 0 0 5px 5px;
    margin: 0;
}

#sidebar .loginbox_failed INPUT.campo {
    border: 1px solid #ccc;
}

#sidebar .loginbox_failed INPUT.bottone {
    border: none;
    font-size: 0.8em;
    font-weight: bold;
}
/* SIDEBAR:MENUBOX */
#sidebar .menubox {
    margin-bottom: 10px;
    padding: 0 0 5px 0;
}

#sidebar .menubox P {
    margin: 0 5px 0 15px
}

#sidebar .menubox UL {
    margin: 5px 5px 5px 15px;
    font-size: 0.9em;
    list-style: none;
}

#sidebar .menubox UL LI {
    padding: 0 0 0 10px;
    margin: 0 0 0.4em 0;
    list-style: none;
}

#sidebar .menubox UL LI A {
    text-decoration: none;
}
/* SIDEBAR:CALENDARIO */
#sidebar .calendario {
    background: url(../img/menu.jpg) no-repeat left top;
    margin-bottom: 5px;
    padding: 0 0 5px 0;
}

#sidebar .calendario .titolo {
    padding: 0 0 0 0px;
    margin: 0 0 10px 0;
}

#sidebar .calendario .titolo H2 {
    color: #000;
    font-size: 1em;
    font-weight: normal;
    padding: 0px 2px 2px 2px;
    margin-left: 29px;
    border-bottom: #000 2px solid;
}

#sidebar .calendario .box {
    width: 95%;
    text-align: center;
    padding: 3px;
}

#sidebar .calendario .box table {
    width: 100%;
    text-align: center;
    padding: 0px;
    border-collapse: collapse;
}

#sidebar .calendario .box TR {
    padding: 0px;
    margin: 0px;
}

#sidebar .calendario .box TR A {
    padding: 0;
    margin: 0 0 0;
}

#sidebar .calendario .box TD {
    color: #606060;
    text-decoration: none;
    padding: 0px;
    border: #606060 1px solid;
    font-size: 0.9em;
}

#sidebar .calendario .box TD A {
    color: #005BA9;
    text-decoration: none;
    font-weight: bold;
}

#sidebar .calendario .box TD .today {
    color: #f00;
}

#sidebar .calendario .box TD .today A {
    font-weight: bold;
    color: #f00;
}

#sidebar .calendario .box TD A:hover {
    color: #f00;
    text-decoration: underline;
}
/*
 IMPOSTAZIONI MODULO MENU
 */
.selected_menu_item {
    font-weight: bold;
}

.menu_item {
    font-weight: normal;
}
/* FORM STYLES
 -------------------------------------------------------------------------- */
/* BOX DEI FORM DI RICHIESTA */
div.form-container form {
    margin: 3px 0px;
}

div.form-container form p.note {
    font-size: 0.8em;
    margin-left: 140px;
}

div.form-container form fieldset {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 5px;
    border: #DDD 1px solid;
    display: block;
}

div.form-container form legend {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #999;
}

div.form-container form fieldset div {
    padding: 0.25em 0;
}
div.detail-edit .detail-component
{
    display:block;
    width:100%;
    clear:both;
}

div.form-container .label, 
div.form-container label, 
div.form-container span.label,
div.detail-edit .label,
div.detail-edit label,
div.detail-edit span.label
{
    clear: left;
    display: block;
    float: left;
    font-size: 0.9em;
    margin: 0px;
    padding: 2px;
    text-align: left;
    width: 18%;
}

div.form-container .object-help {
    font-size: 0.9em;
    color: #c00;
    padding:0 0 4px 10px;
  /*  
    clear: both;
    color: #555;
    margin-left: 50px;
    padding: 5px 0 5px 0px;
    border-bottom: #555 1px dashed;
    width: 75%
  */
}

div.form-container label.error, div.form-container span.error {
    color: #C00;
}

div.form-container label em, div.form-container span.label em {
    position: absolute;
    right: 0;
    font-style: normal;
    color: #555;
}

div.form-container input.error {
    border-color: #C00;
    background-color: #FEF;
}


div.form-container input,
div.detail-edit input {
    display: inline;
    font-size: 0.8em;
    margin: 1px;
    width: 65%;
}

div.form-container input[type=checkbox],
div.detail-edit input[type=checkbox] {
    clear: right;
    float: left;
    font-size: 0.8em;
    margin: 4px 2px 2px;
    width: 15px;
	text-align:left;
}

div.form-container input[type=radio],
div.detail-edit input[type=radio] {
    clear: right;
    display: block;
    float: left;
    font-size: 0.8em;
    margin: 4px 2px 2px;
    width: 15px;
}

div.form-container input[type=hidden],
div.detail-edit input[type=hidden] {
    display: none;
}

div.form-container input.input_date, 
div.form-container input.input_date:focus,
div.detail-edit input.input_date {
    width: 6em;
    margin: 1px 0px 5px;
}

div.form-container select,
div.detail-edit select {
    font-size: 0.8em;
    margin: 1px;
    vertical-align: top;
    width: 70%;
}

div.form-container select[multiple] {
        height: 200px;
}

div.form-container textarea,
div.detail-edit textarea {
    width: 65%;
    height: 100px;
    margin: 1px;
}

div.form-container textarea:focus,
div.detail-edit textarea:focus {
    background-color: #FFC;
    border-color: #FC6;
}

div.form-container div.controlset label, 
div.form-container div.controlset label 
{
    display: inline;
    float: none;
}

div.form-container div.controlset div {
    margin-left: 140px;
}

div.form-container div.buttonrow input ,
div.detail-edit div.buttonrow input{
    width: auto;
    margin-left: 81%;
}

div.form-container .object-link {
    background: url(../img/freccina-dx.gif) no-repeat;
    margin: 0 10px 0 140px;
    border: #D8D8D8 1px dashed;
    padding: 4px
}

div.form-container ul {
    font-size: 0.9em;
    margin: 0 10px 0 22%;
    border: #D8D8D8 1px dashed;
    padding: 4px;
    list-style: none;
    display: block;
}

div.form-container .object-data {
    display: inline;
    margin: 0px;
    width: 30%;
}

div.form-container .object-label {
    clear: left;
    display: block;
    float: left;
    font-size: 0.9em;
    margin:0px;
    padding: 0px;
    width: 20%;
}

div.form-container li {
    background: url(img/freccina-dx.gif) 0 5px no-repeat;
    padding: 0 0 5px 10px;
    list-style: none;
}

div.form-container table {
    width: 99%
}

div.form-container table input {
    font-size: 0.9em;
    width: 75%;
    text-align: center
}

div.form-container table input:focus {
    font-size: 0.8em;
    width: 75%;
    text-align: center
}

div.form-container td {
	
    border:none;
    text-align: center
}

div.form-container .error {
    border: 1px solid #FF0000;
}
/* object: defaults */
#content .detail-edit #splash {
    color: #fff;
    margin-bottom: 5px;
    padding: 0;
}

#content .relation-edit #splash {
    color: #fff;
    margin-bottom: 5px;
    padding: 0;
}

.metabox {
    background: #f0f0f0 url(/Ambienti/NodoCMS/images/Sito/meta-icona.gif) no-repeat;
    padding: 7px 7px 7px 28px;
    font-size: 0.8em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #666;
}
/********* relazioni filtrate **************/
div.form-container .relationship_selection {
    float: left;
    width: 70%;
}

div.form-container .relationship_selector {
    float: right;
    width: 47%;
    margin-left: 2%;
}

div.form-container .relationship_target {
    float: right;
    width: 20%;
    margin-left: 2%;
    margin-right: 9%
}

div.form-container .relationship_selector .button, .relationship_target .button {
    border: 1px solid #999999;
    font-weight: normal;
    margin: 3px auto;
    width: 10em;
}

div.form-container .relationship_selection .button {
    float: right;
    display: block;
    border: 1px solid #999999;
    font-weight: normal;
    margin: 10px 10px 0px;
    width: 10em;
}

div.form-container .relationship_selection .select_relazione_filtrata {
    float: left;
    width: 67%;
}

div.form-container .relationship_target .select_relazione_filtrata {
    width: 100%;
    margin-top: 16px;
}

div.form-container .relationship_target .select_relazione_filtrata select {
    width: 100%;
    overflow: auto;
}

div.form-container .relationship_selector .filtra {
    border: 1px solid #999999;
    font-weight: normal;
    margin: 3px 20px 3px 3px;
    width: 10em;
    float: right;
}

div.form-container .relationship_selector ul {
    font-size: 0.9em;
    margin: 0 10px 0 22%;
    border: #D8D8D8 1px dashed;
    padding: 4px;
    list-style: none;
    display: block;
}

div.form-container .relationship_selector li {
    background: none;
    padding: 0 0 5px 0px;
    list-style: none;
}

div.form-container .relationship_selector ul label {
    clear: none;
    display: inline;
    float: none;
    font-size: 0.9em;
    margin: 0px 4px 0px 0px;
    padding: 2px 5px 8px 2px;
    text-align: right;
    width: 20%;
}

div.form-container .relationship_selector input
[ type = "checkbox" ] {
    clear: none;
    display: inline;
    float: none;
    font-size: 0.9em;
    margin: 4px 2px 2px;
    width: 15px;
}

div.form-container .relationship_selector input {
    width: 70%;
}

.filtered_linkN-M {
    display: block;
    float: left;
    background-color: #f2f2f2;
    margin: 5px 0px;
	width:100%;
}
/*********** filter ************/
#filter h1 {
    margin-bottom: -30px
}

#filter {
    margin-top: 20px;
}
/* LISTA RISULTATI - TABELLA */
#list TABLE {
    margin-top: 35px;
	 border:none;
}

#list TH {
    font-size: 1.0em;
    padding: 5px;
    text-transform: capitalize;	
    border:none;
}

#list TH A {
    text-decoration: none;
}

#list TH A:hover {
    color: #FD7B00;
}

#list TD {
    padding: 5px 2px 2px 2px;
    border-bottom: 1px solid #eee;
    /*font-size: 0.9em; */	
    border:none;
    color: #555;
}

#list TD A {
    text-decoration: none;
    border-bottom: #555 1px dashed;
    font-weight: bold;
	color:#770C29;
}

#list TH A:hover {
    color: #FD7B00;
}

#list TD.valutazione {
    text-align: center;
    color: #fff;
}

#list TD.val-ok {
    background: url(../img/val-ok.gif) no-repeat left center;
    padding-left: 15px;
}

#list TD.val-approfondire {
    background: url(../img/val-approfondire.gif) no-repeat left center;
    padding-left: 15px;
}

#list TD.val-no {
    background: url(../img/val-no.gif) no-repeat left center;
    padding-left: 15px;
}

#list .pagine {
    border-top: 1px solid #ccc;
    margin-top: 1em;
    padding-top: 0.5em;
}

#list .pagine ul {
    text-align: center;
}

#list .pagine ul li {
    display: inline;
}
/* DETTAGLIO RISULTATO - OGGETTO/ELEMENTO - TABELLA  */
#object-body .tabella_dati TH {
    font-size: 0.8em;
    padding: 2px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
    padding: 4px 10px 6px 2px;
    width: 30%;
	border:none;
}

#object-body .tabella_dati TH A {
    text-decoration: none;
}

#object-body .tabella_dati TH A:hover {
    color: #fff;
}

#object-body .tabella_dati TD {
    padding: 4px 2px 6px 2px;
    vertical-align: top;
    text-align: center;
	border:none;
}

#object-body .tabella_dati TD.tabsezione {
    font-weight: bold;
    font-size: 1em;
    padding: 6px 2px 2px 2px;
	border:none;
}

#object-body .tabella_dati TD A {
    text-decoration: underline;
    font-weight: bold;
}

#object-body {
    margin-top: 5px;
}

#object-body TABLE {
    border-bottom: 2px solid #333;
    border-top: 4px solid #333;
	border-left:none;
	border-right:none;
}

#object-body TH {
    font-size: 0.9em;
    padding: 2px;
    font-weight: normal;
    vertical-align: top;
    padding: 2px 5px;
	border:none;
}

#object-body TH A {
    color: #666;
    text-decoration: none;
}

#object-body TH A:hover {
    color: #fff;
}

#object-body TD {
    padding: 0px 5px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 0.9em;
    vertical-align: top;
    text-align: left;
	border-top:none;
	border-left:none;
	font-weight: bold;
}

#object-body TD.tabsezione {
    border-bottom:2px solid #D8D8D8;
    font-weight: bold;
    font-size: 1em;
    color: #333;
    padding: 8px 4px 4px;
    text-transform: uppercase;
}

#object-body TD.tabsezione-fatto {
    background: #63CF89;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
    padding: 8px 4px 4px;
    text-transform: uppercase;
}

#object-body TD.tabsezione-dafare {
    background: #FA5900;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
    padding: 8px 4px 4px;
    text-transform: uppercase;
}

#object-body TD A {
    text-decoration: underline;
    font-weight: bold;
    color: #555;
	
}

#object-body TD .object-link {padding: 0 0 2px 16px; font-size:1.1em;background: url(img/light-pointer.gif)  no-repeat}
	
	
	
/* DETTAGLIO RISULTATO - DATI DI SISTEMA - TABELLA */
#object-system {
    margin-top: 5px;
}

#object-system TABLE {
    background: url(../img/meta-icona.gif) 1% 3% no-repeat #F3F3EB;
	border:none;
}

#object-system TH {
    font-size: 0.8em;
    padding: 2px;
    font-weight: bold;
    vertical-align: top;
    padding: 0px 5px;
    width: 20%;
	border:none;
}

#object-system TH A {
    color: #666;
    text-decoration: none;
}

#object-system TH A:hover {
    color: #fff;
}

#object-system TD {
    padding: 0px 5px;
    border-bottom: 1px solid #eee;
    font-size: 0.9em;
    vertical-align: top;
	border-top:none;
	border-left:none;
	border-right:none;
}

#object-system TD.tabsezione {
    background: #C4ECFF;
    font-weight: bold;
    font-size: 1em;
    padding: 6px 2px 2px 2px;
	
}

#object-system TD A {
    text-decoration: underline;
    font-weight: bold;
    color: #555;
}

#object-system TD A:hover {
    color: #f60;
}
/* DETTAGLIO RISULTATO - DATI SPECIFICI */
.object-title {
    margin-top: 10px;
}

.object-title table {
    margin: 0;
    padding: 0 5px 2px 3px;
    font-size: 1.5em;
    letter-spacing: -0.02em;
	border:none;
}

.object-title table td {
    margin: 0;
    padding: 0 100px 2px 3px;
    font-size: 1.3em;
    letter-spacing: -0.02em;
	border:none;
}

.object-title table th {
    display: none;
	border:none;
}

.object-heading {
    float: left;
    width: 60%;
}

.object-body {
    float: left;
    width: 36%;
    padding: 5px 5px 5px 5px;
}

.object-section {
    font-weight: bold;
    font-size: 1em;
    padding: 6px 2px 2px 2px;
    width: 70%
}

div.form-container .object-section {
    background: #555555;
    padding: 4px;
    text-transform: uppercase;
    color: #fff
}

.object-new {
    font-weight: bolder;
    padding: 10px 10px 10px 10px;
}



.object-needed {
    padding-left: 5px;
}

.object-optional {
    padding-left: 5px;
}

.object-legenda {
    font-size: 0.8em
}

.selected-object {
    margin-left: 20px;
    font-size: 0.9em;
    line-height: 0.9em;
}

.object-title .object-link {
	font-size: 0.8em;
}
.object-link-noactive {
}

.navigation-options li {
    list-style: none;
    font-size: 1.05em;
    font-weight: bolder;
    padding: 4px;
    text-decoration: none;
}

.list-cell-title {
    font-weight: bold;
    font-size: 1em;
    padding: 2px 2px 2px 10px;
    margin-top: 20px;
}

.list-cell {
    float: left;
}

.list-row {
    float: left;
    width: 40%;
    margin-bottom: 10px;
}

.selector li {
    list-style: none;
    padding: 2px 20px;
}
/* DETTAGLIO RISULTATO - DATI DI SISTEMA - SIDEBAR */
#object-sidebar {
    background: #ECE6F0;
    float: left;
    width: 38%;
    padding: 4px
}

#object-sidebar TABLE {
	border:none;
}

#object-sidebar TH {
    font-size: 0.8em;
    padding: 2px;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
    padding: 4px 10px 6px 2px;
    width: 30%;
	border:none;
}

#object-sidebar TH A {
    color: #555;
    text-decoration: none;
}

#object-sidebar TH A:hover {
    color: #fff;
}

#object-sidebar TD {
    padding: 4px 2px 6px 2px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
	border-top:none;
	border-left:none;
	border-right:none;
}

#object-sidebar TD.tabsezione {
    background: #390090;
    font-weight: bold;
    font-size: 1em;
    padding: 6px 2px 2px 2px;
}

#object-sidebarsidebar TD A:hover {
    color: #c00;
}
/* COMPLEX DETAIL EDIT
 ----------------------------------------------- */
#detail {
    margin: 0px 5px 5px 5px;
}

.detail-body {
    margin: 5px;
}

.detail-edit .add-attivo, .detail-edit .add-disattivo, .detail-edit .del-attivo, .detail-edit .del-disattivo {
    background-repeat: no-repeat;
    display: block;
    margin: 0px;
    text-decoration: none;
    height: 16px;
    padding-left: 25px;
}

.detail-edit .add-attivo {
    background-image: url('img/icon-add.gif');
}

.detail-edit .add-disattivo {
    background-image: url('img/icon-add_dis.gif');
    color: #bbbbbb;
    cursor: default;;
}

.detail-edit .del-attivo {
    background-image: url('img/icon-delete.gif');
}

.detail-edit .del-disattivo {
    background-image: url('img/icon-delete_dis.gif');
}

.detail-edit .container .complex_detail_instance {
    border: dotted 1px;
    margin: 1em;
}

.detail-edit-system {
    background: #F3F3EB;
}

div.form-container div.detail-component {
    clear: both;
}

.complex_sub_form {
    margin-top: 0.5em;
}

.complex_sub_form p, .complex_sub_form div, .complex_sub_form img, .complex_sub_form h4 {
    padding: 2px 5px;
}
/* RELATION */
.relation-item {
    float: left;
    width: 47%;
    border-bottom: 1px #ccc solid;
    padding: 8px;
    color: #494949;
}

.relation-item .relation_title {
    font-weight: bolder;
}

.relation-item .relation_description {
    font-size: 0.9em;
}
/* REPORT */
.report {
    border-bottom: 2px solid #999;
    background: #fff url(img/sfondo-report.jpg) repeat-x top;
    float: left;
    padding: 8px 8px 15px 8px;
    width: 68%;
    margin: 5px;
}

.report H2 {
    padding: 2px;
    letter-spacing: 2px;
    margin: 2px 5px;
    color: #390090;
}

.report A {
    background: transparent url(img/freccina-dx.gif) no-repeat scroll 0pt 50%;
    list-style-type: none;
    padding: 0px 0px 5px 10px;
    font-weight: bold;
    margin: 2px 5px;
}

#content .elements table {border: 1px #ccc dashed; margin-top:10px;}
#content .elements table td {border: 1px #ccc dashed; padding:3px}
#content .elements table th {border: 1px #ccc dashed; padding:3px}
#content .elements table .info {font-weight:normal; color:#c00;}

#apri-chiudi-filtro {
	background:transparent url(img/filter.gif) no-repeat scroll 0 0;
	display:block;
	font-size:1.0em;
	height:60px;
	padding:10px 0 0 62px;
	width:100px;
}

/* MESSAGGI DI SISTEMA */

.system-message-error, .system-message-success {
    background:#FFED6A none repeat scroll 0 0;
border:1px solid;
clear:both;
color:#000000;
font-size:1.1em;
font-weight:bolder;
margin:5px auto;
padding:30px 12px;
text-align:center;
width:50%;
}
/*********** DETTAGLIO RISULTATO - ALLEGATI ************/
.object-attachment {
    border: none;
    padding: 5px 5px 5px 5px;
}

.object-attachment .object-needed {
    margin-left: 3px
}

.object-attachment .object-optional {
    margin-left: 3px
}

div.form-container .object-attachment .object-label {
    font-weight: bolder;
}

.contenitore_progressbar {
    line-height: 120%;
    border: 1px solid #333;
    background-color: #eeeeee;
    width: 150px;
}

.indicatore_progressbar {
    text-align: center;
    background-color: #f60;
}
/* STD STATS */
.stat-distribution .detail-body {
    margin: 0px;
    float: left;
    width: 100%;
    display: block;
}

.stat-distribution-build table {
    border-collapse: collapse;
    background-color: #fff;
    margin: 5px;
    width: 650px;
    border: solid 1px #fc9;
}

.stat-distribution-build td {
    padding: 3px;
    text-align: left;
    border-right: solid 1px #fc9;
	border-top:none;
	border-left:none;
	border-bottom:none;
}

.stat-distribution-build th {
    padding: 3px;
    text-align: left;
    font-weight: bold;
    background-color: #fc9;
    border-bottom: solid 1px #fc9;
	border-top:none;
	border-left:none;
	border-right:none;
}

.stat-distribution {
    margin: 0px;
    float: left;
    width: 100%;
    display: block;
}
/* UTILITY
 ----------------------------------------------------------------------- */
.bottone {
    cursor: pointer;
}

.clearBoth {
    clear: both
}

.spaced-clear-both {
    clear: both;
    margin-top: 2px
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: block;
}

.clearfix {
    display: block;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
/* End hide from IE-mac */
.NoDisplay {
    display: none
}

.NoVisibility {
    height: 0px;
    width: 0px;
    position: absolute;
    top: -10000px;
    left: -10000px;
}
/* FOOTER
 --------------------------------------------------------------------- */

* html P#credits {
    height: 5px;
}
/* DEBUG (PER DIV INSERITI SOLO PER MOTIVI DI DEBUG (E QUINDI DA NASCONDERE ALL'UTENTE)
 --------------------------------------------------------------------- */
.debug {
    display: none
}



/********************* dicembre '11 ***************/
#finance-box {background:#FFFCD7;}

#importo_splitted {margin:2px; padding:10px; border:1px solid #4A364E;}

#content #detail ul.right-menu li {list-style-type:none}

#warn-vincolo {padding:5px; color:#c00;}

#content .saldi {padding:6px;}

#finanza {}
#finanza h4 {font-size:1.4em;}
#finanza ul {margin:0 0 0 20px; padding:0 0 0 10px;}
#finanza li {margin:0;}

form.toolbarform {
	border-top: 4px solid #770c29;
    color: #770c29;
    font-weight: bold;
    line-height: 1.1em;
    margin: 0 5px;
    padding: 3px;
    text-decoration: none;
    text-align:center;
    width: 5%;
	float: left;
	display:inline;
}