	<script type="text/javascript" src="app/Javascript/jQuery/js/jquery.min.js"></script>
	<script type="text/javascript" src="app/Javascript/jQuery/js/jquery-ui.custom.min.js"></script>
	<script type="text/javascript" src="app/Javascript/jQuery/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="app/Javascript/jQuery/js/ui.datepicker-it.js"></script>
	<script type="text/javascript" src="app/Javascript/jQuery/js/jquery.bsmselect.js"></script>
	
	<script src="app/Javascript/anastasis/Anastasis.js" type="text/javascript"></script>
	<script src="app/Javascript/anastasis/serena/FontSize.js" type="text/javascript"></script>
	<script src="app/Javascript/anastasis/serena/SerenaUtils.js" type="text/javascript"></script>	

	<script src="app/Javascript/anastasis/serena/Widgets.js" type="text/javascript"></script>
	<script src="app/Javascript/anastasis/serena/ajax_addons.js" type="text/javascript"></script>
	<script src="app/Javascript/anastasis/serena/Controllers.js" type="text/javascript"></script>