@BEGIN_TEMPLATE@<div id="detail">
  	<div id="trails">
		<a href="@CONTEXT@/Index" title="vai alla home page">Home</a> - @TITLE@
	</div>
  	<div class="inserto">
  		<a href="javascript:history.back();" title="indietro">[ Indietro ]</a>
            <span class="NoVisibility">|</span>
        <a href="javascript:Anastasis.Utils.print('home');" title="stampa">[ Stampa ]</a>
            <span class="NoVisibility">|</span>
        
        
        
      
   	</div>
  <div id="splash">
    <h2>@TITLE@</h2>
    <a href="@CONTEXT@/Index?q=object/filter&amp;p=@CLASS@" title="Nuova ricerca">Ricerca</a>
	<a href="@CONTEXT@/Index?q=object/list&amp;p=@CLASS@" title="Lista completa">Lista</a>
    @BLOCK_BEGIN_EDIT@     
    		([
        			[[] != [1]]
    				?? [
						
							<a href="@HREF_DETAIL_EDIT@" title="Modifica i dati dell'oggetto">Modifica</a>
							<span class="NoVisibility">|</span>
						
					]
    			])
        @BLOCK_END_EDIT@
  </div>
  <br style="clear:both" />
    @BLOCK_BEGIN_RESULT_ERROR@
    <div class="system-message-error">
      Si &egrave; verificato un errore: @ERROR_MESSAGE@
    </div>
    @BLOCK_END_RESULT_ERROR@

    @BLOCK_BEGIN_RESULT_EMPTY@
    <div class="system-message-error">
      Nessun elemento trovato!
    </div>
    @BLOCK_END_RESULT_EMPTY@
  
    

    
    @BEGIN_CorsiFormazione@
    <div class="object-title">
       <div class="object-title">
       <h2>@tag_titolo#FLAT@</h2>
       <h3>@tag_sottotitolo#FLAT@</h3> 
    </div>
      </div>
      

      
    <div id="object-body">
      <table width="100%"  border="0" cellspacing="0" cellpadding="0" summary="tabella dati scheda">      
		 @tag_organizzatore@
		  
		 @tag_abstract@
		 @tag_luogo@
		 @tag_periodo@
		 @tag_tema@
		
        @tag_allegato@
        @tag_allegato_1@
        <!-- 
         <tr>
          <th colspan="2" class="corso">Sessioni</th>
         </tr>
          -->
     	 @tag_sessioni@        
        
      </table>      
      </div>
      
      
      
      
      
     <div id="object-body-links" class="no_th">  
     @tag_logo@   
     <h2>Materiali</h2>  
     <table summary="tabella dei collegamenti">
     	<tbody>
     	 @tag_documenti_corso@
		</tbody>
      </table>
    
      </div>
      
      <br />
      
    
      
      <div id="object-system">
      <table width="100%"  border="0" cellspacing="0" cellpadding="0" summary="tabella dati di sistema">      
        @tag_creation_user@@tag_creation_date@@tag_deletion_user@@tag_deletion_date@@tag_last_modification_user@@tag_last_modification_date@@tag_activation_flag@@tag_deletion_flag@
      </table>      
      </div>@END_CorsiFormazione@
  </div>@END_TEMPLATE@